@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

@media (max-width: 1199px){
  header {
    background-color: white;
    color: black;
    padding: 0px 1px;
    margin: 0px 8px 0px 8px;
    text-align: left;
    font-family: 'Gowun Dodum', serif;
    font-size: 15px; 
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header_name {
    display: flex;
    align-items: center;
  }
  
  .icon_img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin: 0px 7px;

  }
  
  .github_icon {
    width: 25px;
    height: 30px;
    border-radius: 30%;
    padding: 0px 3px;
  }
  .icon_btn {
    background-color: white;
    border: 0;
  }

  .main_title_box {
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/src/bg_img.JPG");
    background-size: cover;
    background-position: center;
    color: #ff7700;
    font-size: clamp(15px, 3vw, 60px); /* Responsive font size */
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .caret {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  
  .highlight {
    font-weight: bold;
    color: #ffffff;
    font-family: "Nanum Brush Script";
    font-size: clamp(55px, 10vw, 160px); /* Responsive font size for highlights */
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  }
  
  .container {
    justify-items: center;
    align-items: center;
  }
  
  .text_field {
    width: clamp(100px, 80vw, 1100px);
    display:block;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .main_text_field{
    display: block;
  }
  
  .side_text_field{
    display: block;
  }
  
  .project_name_field{
    display: block;
  }
  
  .project_detail_field{
    display: block;
  }
  
  
  .my_image {
    margin-top: 25px;
    width: 30%;
    border-radius: 10%;
  }
  
  .sub_title_box{
    margin: 0 auto;
    margin-top: 100px;
    display:block;
  }
  .sub_title {
    font-family: 'LINESeedKR-Bd';
    font-size: clamp(18px, 2.5vw, 30px); /* Responsive font size */
  }
  
  li {
  margin: 10px 0px 10px 0;
  }

  .contect_title {
    font-family: "Itim";
    font-size: clamp(16px, 2vw, 25px); /* Responsive font size */
    font-weight: 700;
  }
  
  .contect {
    font-size: clamp(14px, 2vw, 22px); /* Responsive font size */
    font-family: 'Gowun Dodum', serif;
    text-decoration: none;
    color: black;
  }
  
  .pad{
    margin: 10vw;
  }
  
  #name {
    font-family: 'GmarketSansMedium';
    font-size: clamp(24px, 3vw, 40px); /* Responsive font size */
    font-weight: 700;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 16px); /* Responsive font size */
    padding: 10px 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 1200px){
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  color: black;
  padding: 0px 50px;
  text-align: left;
  font-family: 'Gowun Dodum', serif;
  font-size: 1.2vw; /* Scales based on viewport width */
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.header_name {
  display: flex;
  align-items: center;
}

.icon_img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  padding: 0px 17px;
}

.github_icon {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 0px 3px;
}

.icon_btn {
  background-color: white;
  border: 0;
}

.main_title_box {
  font-family: 'GmarketSansMedium';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/src/bg_img.JPG");
  background-size: cover;
  background-position: center;
  color: #ff7700;
  font-size: clamp(20px, 3vw, 60px); /* Responsive font size */
  font-weight: bold;
  text-transform: uppercase;
}

.caret {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.highlight {
  font-weight: bold;
  color: #ffffff;
  font-family: "Nanum Brush Script";
  font-size: clamp(80px, 10vw, 160px); /* Responsive font size for highlights */
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.container {
  justify-items: center;
  align-items: center;
}

.text_field {
  width: clamp(80px, 80vw, 1100px);
  display: flex;
  justify-content: space-between;
}

.main_text_field{
  display: block;
  width: 60%;
}

.side_text_field{
  display: block;
  width: 26%;
}

.project_name_field{
  display: block;
  width: 30%;
}

.project_detail_field{
  display: block;
  width: 72%;
}


.my_image {
  margin-top: 25px;
  width: 70%;
  border-radius: 10%;
}


.sub_title {
  font-family: 'LINESeedKR-Bd';
  font-size: clamp(18px, 2.5vw, 30px); /* Responsive font size */
}

.contect_title {
  font-family: "Itim";
  font-size: clamp(16px, 2vw, 25px); /* Responsive font size */
  font-weight: 700;
}

.contect {
  font-size: clamp(14px, 2vw, 22px); /* Responsive font size */
  font-family: 'Gowun Dodum', serif;
  text-decoration: none;
  color: black;
}

.pad{
  margin: 10vw;
}

#name {
  font-family: 'GmarketSansMedium';
  font-size: clamp(24px, 3vw, 40px); /* Responsive font size */
  font-weight: 700;
}

li {
  margin: 10px 0px 10px 0;
  }

footer {
  background-color: #f1f1f1;
  text-align: center;
  font-size: clamp(10px, 1.5vw, 16px); /* Responsive font size */
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* 그래프 */
.skills {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(124, 124, 124, 0.2), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 25px 30px;
  margin-top: 20px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #e0e0f0;
  border-radius: 10px;
  overflow: hidden;
}

.bar .progress-line span {
  position: absolute;
  background: #ff973c;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .python {
  width: 95%;
}
.progress-line .c {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .sql {
  width: 90%;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .c::after {
  content: "90%";
}

/* Media Query for responsiveness */
@media (max-width: 700px) {
  .skills {
    width: 80%;
    padding: 15px;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}

}